/* LESS Document */
body {
  text-align: center;
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ecfdff;
}
.container {
  width: 600px;
  height: 150px;
  margin: 50px auto;
  background-color: #cccccc;
  font-size: 450%;
  padding-top: 50px;
  font-weight: 300;
  opacity: .5;
  border: solid 1px #767676;
  border-radius: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: #2e2e2e;
}
header,
footer {
  width: 100%;
  height: 100px;
  background-color: #c9eff6;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 15px;
}
h2 {
  font-size: 120%;
  font-weight: 300;
  color: #000000;
}
h1 {
  font-weight: 400;
  color: #000000;
}
